main {
  padding: 2em 0;
}

.card {
  width: 300px;
  height: 300px;
  border-radius: 4px;
  background-color: #1b1b1b;
  cursor: pointer;
  transition: all 0.2s;
  margin: 10px;
  text-align: center;
}

.card:hover {
  opacity: 0.8;
}

.store-card {
  width: 80%;
  border-radius: 4px;
  background-color: #1b1b1b;
  cursor: pointer;
  transition: all 0.2s;
  margin: 0 10% 10px 10%;
  text-align: center;
  padding: 2px;
}

.card .image-wrapper {
  width: auto;
}

.card img {
  width: 100%;
  height: 200px;
}

.card .info-wrapper {
  padding: 1em;
}

.flex-content {
  display: flex;
}

.router-link-exact-active {
  color: #fff;
}

nav {
  background: #42b983;
  padding: 1em;
  text-align: right;
}

nav a {
  margin: 1em;
  color: #2c3e50;
  text-decoration: none;
  font-weight: 800;
}
