main {
  padding: 2em 0;
}

.card {
  width: 300px;
  height: 300px;
  border-radius: 4px;
  background-color: #201c68;
  cursor: pointer;
  transition: all 0.2s;
  margin: 10px;
  text-align: center;
}

.card:hover {
  opacity: 0.8;
}

.store-card {
  width: 80%;
  border-radius: 4px;
  background-color: #201c68;
  transition: all 0.2s;
  margin: 0 10% 10px 10%;
  text-align: center;
  padding: 2px;
}

.card .image-wrapper {
  width: auto;
}

.card img {
  width: 100%;
  height: 200px;
}

.card .info-wrapper {
  padding: 1em;
}

.flex-content {
  display: flex;
}

.router-link-exact-active {
  color: #fff;
}

nav {
  background: #4254b9;
  padding: 1em;
  text-align: right;
}

nav a {
  margin: 1em;
  color: #1b0091;
  text-decoration: none;
  font-weight: 800;
}

.item {
  text-align: center;
  display: flex;
}

.item img {
  margin-right: 50px;
}

.item-words {
  margin-right: 50px;
}

.item-page button {
  width: auto;
  margin: 0 10px 0 10px;
  background-color: #384280;
  border: 2px solid black;
  border-radius: 5px;
  color: #fff;
  font-size: larger;
}

.about-us {
  text-align: center;
}
